<!-- This example requires Tailwind CSS v2.0+ -->

{% comment %} this is for user Dashboard and edit profile seciton  {% endcomment %}
<div class="bg-gray-200 shadow overflow-hidden sm:rounded-lg mt-10">
  <div class="px-4 py-5 sm:px-6">

    {% comment %} create a link to edit profile  {% endcomment %}
    {% comment %} <form class = "float-end "action="{% url 'editprofile' %}" method="POST">
        {% csrf_token %}
        <input class=" bg-green-500 hover:bg-green-700 border-green-500 hover:border-green-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit" value="Edit Profile">
    </form> {% endcomment %}

    {% comment %} diplayiing user content in dashboard page  {% endcomment %}
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Welcome To Dashboard - {{user.username}}
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Your Details
    </p>
    
  </div>
    <dl>
      <div class="bg-gray-50 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Full name
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{user.get_full_name}}
        </dd>
      </div>
      <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Email Address 
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{user.email}}
        </dd>
      </div>
      
    </dl>
  
</div>
